body {
    background-color: #F8F4EC;
}

a {
    text-decoration: none;
}

/* 載入字型 */
@font-face {
    font-family: "Inknut Antiqua";
    src: url(Inknut_Antiqua/InknutAntiqua-Regular.ttf) format("opentype");
}

/* 載入字型 */
/* ------------頁首----------- */


header {
    width: 100%;
}

.menu {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.menu .menu_logo {
    margin-bottom: -5px;
}

.menu li:hover {
    
    border-bottom: 2px #A48458 solid;
}
a {
    text-decoration: none;
    transition: 0.5s;
}
.menu li:hover a{
    color: #DBB12A;
}

.menu li {
    transition: border-bottom 0.3s;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    display: flex;
    align-items: end;
}

/* 菜單超連結 */
.menu li a {

    font-family: 'Noto Serif CJK TC';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #39250A;
    display: block;
    text-decoration: none;
}

/* 菜單超連結 */
/* ------------頁首----------- */
/* 立體文字 -------*/
/* 實心文字 */
.dimensional_solid {
    font-family: 'Antonio';
    font-weight: 800;
    font-size: 128px;
    line-height: 166px;
    color: #DBB12A;
    position: relative;

}

/* 實心文字 */
/* 空心文字 */
.dimensional_empty {
    position: absolute;
    font-family: 'Antonio';
    font-weight: 800;
    font-size: 128px;
    line-height: 166px;
    color: transparent;
    -webkit-text-stroke: 1px #DBB12A;
    top: 0;
    left: 6px;
    white-space: nowrap;

}

/* 空心文字 */
/* 立體文字 -------*/
/* 商品一覽大字報區域 */
.product_poster_area {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;

}

.back_btn {
    position: absolute;
    top: 0;
    left: 250px;
    width: 128px;
    height: 52px;
    border: none;
}

.back_btn img {
    width: 100%;
}

/* 商品一覽大字報區域 */
/* 商品清單區域 */
.product_list_area {
    position: relative;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

/* 商品清單區域橫排 */
.product_list_row {
    width: 940px;
    display: flex;
    justify-content: space-between;
}

/* 商品卡片  */
.product_list_card {
    width: 280px;


}

.product_list_pic {
    overflow: hidden;
}

.product_list_pic:hover img {
    transform: scale(1.2, 1.2);
}

.product_list {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.product_name {
    font-family: 'Inknut Antiqua';
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: #000000;

}
.product_name h3{
    transition: color 0.5s;
}



.product_name:hover h3{
    color: #DBB12A;
}

.shopping_car {
    font-size: 20px;
    color: #000000;
    transition: 0.5s;
}
.shopping_car:hover{
    color: #DBB12A;
}

.price {
    font-family: 'Inknut Antiqua';
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    transition: 0.5s;
}
.price:hover{
    color: #DBB12A;
}

/* 商品卡片  */
/* 商品清單區域橫排 */
/* next按鈕 */
.next_btn {
    position: absolute;
    bottom: -140px;
    right: 150px;

}

/* next按鈕 */
/* 商品清單區域 */





/* -------------頁尾------------------ */
footer {
    width: 100%;
    display: flex;
    background: #A48458;
    justify-content: space-between;
}

/* 頁尾LOGO */
.footer_logo_pic img {
    margin-top: 30px;
}

/* QA */
.question_answer {
    width: 300px;

}

.question_answer h3 {
    margin-top: 25px;
    margin-bottom: 15px;

}

.question_answer h3 a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4C2B20;
    text-decoration: none;

}


/* 社群媒體 */
.media_ikon {
    width: 40%;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}

/* 社群媒體 */
/* QA */
/* 聯絡資訊 */
.information {
    padding: 10px;
}

.information p {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4C2B20;
}

/* 聯絡資訊 */

/* -------------頁尾------------------ */
/* 至頂按鈕--------------------------- */
.to_top_btn {
    position: fixed;
    bottom: 60px;
    right: 100px;
}

.to_top_solid {
    width: 80px;
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #DBB12A;
    position: relative;
}

.to_top_empty {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    /* 簍空效果 */
    color: transparent;
    -webkit-text-stroke: 1px #DBB12A;
    /* 簍空效果 */
    position: absolute;
    top: 0;
    left: 3px;
}

/* 三角 */
.to_top_triangle {
    position: absolute;
    top: 0;
    right: 3.5px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #DBB12A;

}




/* 至頂按鈕--------------------------- */