body {
    background-color: #F8F4EC;
}

/* 載入字型 */
@font-face {
    font-family: "Inknut Antiqua";
    src: url(Inknut_Antiqua/InknutAntiqua-Regular.ttf) format("opentype");
}

/* 載入字型 */

/* ------------頁首----------- */
a {
    text-decoration: none;
    transition: 0.5s;
}
.menu li:hover a{
    color: #DBB12A;
}

header {
    width: 100%;
}

.menu {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.menu .menu_logo {
    margin-bottom: -5px;
}

.menu li:hover {
    border-bottom: 2px #A48458 solid;
}

.menu li {
    transition: border-bottom 0.3s;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    display: flex;
    align-items: end;
}

/* 菜單超連結 */
.menu li a {

    font-family: 'Noto Serif CJK TC';
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #39250A;
    display: block;
    text-decoration: none;
}

/* 菜單超連結 */
/* ------------頁首----------- */
/* QA大字報區 */
.qa_poster_area {
    margin-top: 80px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.qa_dimensional_poster {
    margin-right: 700px;
}

/* 立體文字 -------*/
/* 實心文字 */
.dimensional_solid {
    font-family: 'Antonio';
    font-weight: 800;
    font-size: 128px;
    line-height: 166px;
    color: #DBB12A;
    position: relative;

}

/* 實心文字 */
/* 空心文字 */
.dimensional_empty {
    position: absolute;
    font-family: 'Antonio';
    font-weight: 800;
    font-size: 128px;
    line-height: 166px;
    color: transparent;
    -webkit-text-stroke: 1px #DBB12A;
    top: 0;
    left: 6px;
    white-space: nowrap;

}

/* 空心文字 */
/* 立體文字 -------*/


/* QA大字報區 */

/* QA項目區 */
.qa_item_area {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.qa_item_color {

    display: flex;
    justify-content: center;
    width: 703px;
    height: 127px;
    background: #FADEC2;
    border-radius: 3px;
    margin-bottom: 100px;
}

.qa_item_text {
    width: 615px;
}

.qa_item_color p {
    font-family: 'Noto Serif CJK TC';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    line-height: 23px;
    margin-top: 20px;
}





/* QA項目區 */




/* -------------頁尾------------------ */
footer {
    width: 100%;
    display: flex;
    background: #A48458;
    justify-content: space-between;
}

/* 頁尾LOGO */
.footer_logo_pic img {
    margin-top: 30px;
}

/* QA */
.question_answer {
    width: 300px;

}

.question_answer h3 {
    margin-top: 25px;
    margin-bottom: 15px;

}

.question_answer h3 a {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4C2B20;
    text-decoration: none;

}


/* 社群媒體 */
.media_ikon {
    width: 40%;
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;

}

/* 社群媒體 */
/* QA */
/* 聯絡資訊 */
.information {
    padding: 10px;
}

.information p {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #4C2B20;
}

/* 聯絡資訊 */

/* -------------頁尾------------------ */
/* 至頂按鈕--------------------------- */
.to_top_btn {
    position: fixed;
    bottom: 60px;
    right: 100px;
}

.to_top_solid {
    width: 80px;
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    color: #DBB12A;
    position: relative;
}

.to_top_empty {
    font-family: 'Antonio';
    font-weight: 400;
    font-size: 64px;
    line-height: 83px;
    /* 簍空效果 */
    color: transparent;
    -webkit-text-stroke: 1px #DBB12A;
    /* 簍空效果 */
    position: absolute;
    top: 0;
    left: 3px;
}

/* 三角 */
.to_top_triangle {
    position: absolute;
    top: 0;
    right: 3.5px;
    width: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #DBB12A;

}

/* 至頂按鈕--------------------------- */